<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Corona Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/ico" href="corona.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Coronavirus Tracker Application</h1>
    <!--    <p>This application lists the current number of cases reported across the europe</p>-->
    <p>This application lists the current number of cases reported in Europe</p>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of today</p>
        <hr class="my-4">
        <p>
            <span>New cases reported since previous day:</span>
            <span th:text="${totalNewCases}"></span>
        </p>
    </div>

    <table id="coronaStats" class="table">
        <thead>
        <tr>
            <th>Country</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Active changes</th>
            <th>Critical</th>
            <th>Deaths</th>
            <th>Death changes</th>
            <th>Recovered</th>
            <th>Recovered changes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="corona : ${coronaData}">
            <td><p th:text="${corona.country}"></p></td>
            <td th:text="${corona.totalNumOfCases}"></td>
            <td th:text="${corona.numOfActiveCases}"></td>
            <td>
                <span th:if="${corona.numOfNewCases > 0 }" th:text="${'+' + corona.numOfNewCases}"
                      class="badge badge-warning"></span>
                <span th:if="${corona.numOfNewCases == 0 }" th:text="${corona.numOfNewCases}"
                      class="badge grey black-text"></span>
                <span th:if="${corona.numOfNewCases < 0 }" th:text="${corona.numOfNewCases}"
                      class="badge teal white-text"></span>
            </td>
            <td>
                <span th:text="${corona.numOfCriticalCases}" class="badge badge-secondary"></span>
            </td>
            <td><span th:text="${corona.totalNumOfDeaths}" class="badge badge-dark"></span></td>
            <td>
                <span th:if="${corona.numOfNewDeaths > 0 }" th:text="${'+' + corona.numOfNewDeaths}"
                      class="badge badge-danger"></span>
                <span th:if="${corona.numOfNewDeaths == 0 }" th:text="${corona.numOfNewDeaths}"
                      class="badge grey black-text"></span>
                <span th:if="${corona.numOfNewDeaths < 0 }" th:text="${corona.numOfNewDeaths}"
                      class="badge teal white-text"></span>
            </td>
            <td th:text="${corona.totalNumOfRecovered}"></td>
            <td>
                <span th:if="${corona.numOfNewlyRecovered > 0 }" th:text="${'+' + corona.numOfNewlyRecovered}"
                      class="badge badge-success"></span>
                <span th:if="${corona.numOfNewlyRecovered == 0 }" th:text="${corona.numOfNewlyRecovered}"
                      class="badge grey black-text"></span>
                <span th:if="${corona.numOfNewlyRecovered < 0 }" th:text="${corona.numOfNewlyRecovered}"
                      class="badge teal white-text"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#coronaStats').DataTable();
    });
</script>
</body>
</html>